@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria.eot');
	src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff2') format('woff2'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.svg#Geometria') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
	src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff2') format('woff2'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
	src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Bold.woff2') format('woff2'),
		url('../fonts/Geometria-Bold.woff') format('woff'),
		url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria-Heavy.eot');
	src: url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Heavy.woff2') format('woff2'),
		url('../fonts/Geometria-Heavy.woff') format('woff'),
		url('../fonts/Geometria-Heavy.svg#Geometria-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria-Light.eot');
	src: url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Light.woff2') format('woff2'),
		url('../fonts/Geometria-Light.woff') format('woff'),
		url('../fonts/Geometria-Light.svg#Geometria-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
	src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff2') format('woff2'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Geometria';
    src: url('../fonts/Geometria-BoldItalic.eot');
	src: url('../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-BoldItalic.woff2') format('woff2'),
		url('../fonts/Geometria-BoldItalic.woff') format('woff'),
		url('../fonts/Geometria-BoldItalic.svg#Geometria-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family:'Raleway';
    src: url('../fonts/Raleway Regular.eot');
	src: url('../fonts/Raleway Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway Regular.woff2') format('woff2'),
		url('../fonts/Raleway Regular.woff') format('woff'),
		url('../fonts/Raleway Regular.svg#Raleway Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Anonymous Pro';
    src: url('../fonts/Anonymous Pro.eot');
	src: url('../fonts/Anonymous Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Anonymous Pro.woff2') format('woff2'),
		url('../fonts/Anonymous Pro.woff') format('woff'),
		url('../fonts/Anonymous Pro.svg#Anonymous Pro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
.show320 {
	display: block !important;
}
.show640 {
	display: none !important;
}
.show320.show640 {
	display: block !important;
}
.show1000 {
	display: none !important;
}
.show640.show1000 {
	display: none !important;
}
span.show320 {
	display: inline !important;
}
span.show640 {
	display: none !important;
}
span.show320.show640 {
	display: inline !important;
}
span.show1000 {
	display: none !important;
}
span.show640.show1000 {
	display: none !important;
}
@media screen and (min-width: 640px) {
	.show320 {
		display: none !important;
	}
	.show320.show640 {
		display: block !important;
	}
	.show640 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320 {
		display: none !important;
	}
	span.show320.show640 {
		display: inline !important;
	}
	span.show640 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
@media screen and (min-width: 1000px) {
	.show320.show640 {
		display: none !important;
	}
	.show640 {
		display: none !important;
	}
	.show1000 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320.show640 {
		display: none !important;
	}
	span.show640 {
		display: none !important;
	}
	span.show1000 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
::selection {
	background: rgba(111, 197, 253, 0.4);
}
::-moz-selection {
	background: rgba(111, 197, 253, 0.4);
c
}

* {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
}
li {
	list-style: none outside none;
}
html, body {
	border: 0 none;
}
html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 14px;
	color: #363636;
	background: #ffffff;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Geometria', sans-serif;
}

input {
	-webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
section {
	position: relative;
}
section .wrapper {
	position: relative;
	z-index: 1;
}
section .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
section .bg .wrapper {
	position: relative;
	height: 100%;
}

body.prevent-scroll {
	overflow: hidden;
}
a {
	text-decoration: none;
	transition: color 0.2s;
	color: #85aec0;
	font-weight: 500;
}
a:hover,
a.hover {
	transition: color 0.1s;
	color: #dc3664
}
.page-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
	min-width: 320px;
}
h1 {
	font-size: 21px;
	color: #1f3664;
	font-weight: 900;
	line-height: 1.45;
}
@media screen and (min-width: 640px) {
	h1 {
		font-size: 30px;
		color: #1f3664;
		font-weight: 900;
		line-height: 1.45;
	}
}
@media screen and (min-width: 1000px) {
	h1 {
		font-size: 36px;
		line-height: 1.35;
	}
}
h1 strong {
	font-weight: 900;
	color: #004bdd;
}
h1 sup {
	line-height: 0px;
	position: relative;
	color: #dc3664;
	font-weight: 900;
	top: 9px;
	font-size: 24px;
}
@media screen and (min-width: 640px) {
	h1 sup {
		top: 7px;
		font-size: 30px;
	}
}
@media screen and (min-width: 1000px) {
	h1 sup {
		font-size: 36px;
		top: 12px;
		left: -1px;
	}
}
h1 em {
	font-size: 14px;
	font-style: normal;
	line-height: 1;
}
@media screen and (min-width: 1000px) {
	h1 em {
		line-height: 1;
	}
}
h2 {
	font-weight: 300;
	line-height: 1.45;
	text-align: center;
	font-size: 21px;
	max-width: 600px;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	h2 {
		font-size: 26px;
	}
}
@media screen and (min-width: 1000px) {
	h2 {
		font-weight: 300;
		line-height: 1.45;
		text-align: center;
		font-size: 30px;
		line-height: 1.25;
	}
}
h3 {
	font-size: 24px;
	margin-bottom: 12px;
}

header .wrapper {
	max-width: 100%;
}
.wrapper {
	position: relative;
/*	outline: 1px #ccc solid;*/
	width: calc(100% - 30px);
	max-width: 1240px;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	.wrapper {
		width: calc(100% - 80px);
	}
}
@media screen and (min-width: 1000px) {
	.wrapper {
		width: calc(100% - 200px);
	}
}
header {
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	min-width: 320px;
	z-index: 100;
	transform: translateZ(0px);
}
header nav {
	position: absolute;
	top: 47px;
	right: 0;
	text-align: right;
	display: none;
}
header nav .item {
	position: relative;
	display: inline-block;
	margin-left: 45px;
}
@media screen and (min-width: 1000px) {
	header nav {
		display: block;
	}
}
header nav .item .splats {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
header nav .item:hover .btn {
	box-shadow: none;
	background: none;
}
header nav .item .splats .s {
	position: absolute;
	opacity: 0.5;
}
header nav .item .splats .s1 {
	top: -10px;
	left: 30px;
	width: 87px;
	height: 76px;
	background: url(../images/splats/s1.jpg);
}
header nav .item .splats .s2 {
	top: -10px;
	left: 30px;
	width: 12px;
	height: 13px;
	background: url(../images/splats/small-1.jpg);
}
header nav .item .splats .s3 {
	top: -10px;
	right: -40px;
	width: 35px;
	height: 32px;
	background: url(../images/splats/small-2.jpg);
}


header .logo {
	position: absolute;
	top: 40px;
	left: 0;
	width: 177px;
	height: 80px;
}
header .logo .i {
	position: absolute;
	width: 177px;
	height: 55px;
	top: 0;
	left: 0;
	background: url(../images/logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
header .logo .t {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	color: #333333;
}


header .menu-btn {
	position: absolute;
	right: 0;
	top: 24px;
}
.menu-btn .b {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 20px;
	height: 3px;
	background: #144cb1;
}
.menu-btn .b1 {
	top: 16px;
}
.menu-btn .b2,
.menu-btn .b4,
.menu-btn .b5 {
	top: 23px;
}
.menu-btn .b3 {
	top: 30px;
}
.menu-btn .b4 {
	transform: rotate(45deg);
}
.menu-btn .b5 {
	transform: rotate(-45deg);
}

@media screen and (min-width: 1000px) {
	header .menu-btn {
		display: none;
	}
}

.round-btn .cn {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	will-change: transform;
	border-radius: 50%;
	box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
	transform-style: preserve-3d;
}
.round-btn {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	perspective: 500px;
}
.round-btn .fr,
.round-btn .bc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.round-btn .bc {
	transform: rotateY(180deg);
}
.round-btn .cn {
	transition: transform 0.3s;
	animation: flip-backward 0.5s;
	animation-fill-mode: forwards;
	background: #ffffff;
}
.round-btn:hover .cn {
	animation: flip-forward 0.5s;
	animation-fill-mode: forwards;
}
@keyframes flip-forward {
    0% {
    	transform: translateZ(0px) rotateY(-0deg);
    	box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
    }
    30% {
    	transform: translateZ(60px) rotateY(-0deg);
    	box-shadow: 0 9px 25px rgba(51, 102, 153, 0.15);
    }
    50% {
    	transform: translateZ(120px) rotateY(-90deg);
    	box-shadow: 0 12px 30px rgba(51, 102, 153, 0.15);
    }
    80% {
    	transform: translateZ(60px) rotateY(-180deg);
    	box-shadow: 0 9px 25px rgba(51, 102, 153, 0.15);
    }
    100% {
    	transform: translateZ(0px) rotateY(-180deg);
    	box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
    }
}
@keyframes flip-backward {
	0% {
		transform: translateZ(0px) rotateY(-180deg);
		box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
	}
	30% {
		transform: translateZ(60px) rotateY(-180deg);
		box-shadow: 0 9px 25px rgba(51, 102, 153, 0.15);
	}
	50% {
		transform: translateZ(120px) rotateY(-90deg);
		box-shadow: 0 12px 30px rgba(51, 102, 153, 0.15);
	}
	80% {
		transform: translateZ(60px) rotateY(-0deg);
		box-shadow: 0 9px 25px rgba(51, 102, 153, 0.15);
	}
	100% {
		transform: translateZ(0px) rotateY(-0deg);
		box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
	}
}


button {
	display: inline-block;
	background: none;
	border: none;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-family: 'Geometria', sans-serif;
	font-size: 14px;
}
.btn {
	display: inline-block;
	padding: 0 30px;
	height: 40px;
	line-height: 40px;
	color: #336699;
	font-size: 13px;
	font-weight: 500;
	border-radius: 20px;
	box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
	background: #ffffff;
	font-weight: 500;
}
.btn.wide {
	padding: 0 47px;
}
.btn.small {
	padding: 0 10px;
	line-height: 20px;
	height: 20px;
	border-radius: 10px;
	color: #1d54c2;
	font-size: 12px;
	font-weight: 700;
}
.btn.blue {
	color: #ffffff;
	background: #1e3664;
	box-shadow: 0 7px 20px rgba(111, 197, 253, 0.4);
}
.btn.deep {
	transition: all 0.3s;
}
.btn.deep:hover,
.btn.deep.active {
	transition: all 0.15s;
	background: #f8f9f9;
	box-shadow: 0 0px 0px rgba(51, 102, 153, 0.2);
}

main {
	position: relative;
	z-index: 1;
}
@media screen and (min-width: 1000px) {
	.cssvhunit  .fs-dt {
		height: 100vh;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
section {
	margin-top: 90px;
	margin-bottom: 90px;
}
@media screen and (min-width: 640px) {
	section {
		margin-top: 150px;
		margin-bottom: 150px;
	}
}
@media screen and (min-width: 1000px) {
	section {
		margin-top: 200px;
		margin-bottom: 200px;
	}
}

.text-c {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}
@media screen and (min-width: 1000px) {
	.cssvhunit .text-c-wrapper {
		height: 100%;
		display: table;
	}
	.cssvhunit .text-c-outer {
		display: table-cell;
		vertical-align: middle;
	}
}
.home {
	margin-top: 145px;
}
.home .s-home {
	position: absolute;
	width: 1189px;
	height: 1039px;
	left: -700px;
	top: 0;
	transform: rotate(90deg);
}
@media screen and (min-width: 1000px) {
	.home {
		margin-top: 45px;
	}
	.home .s-home {
		top: auto;
		left: -800px;
		bottom: -500px;
	}
}

.text-box {
	position: relative;
	background: #f7f7f7;
	text-align: center;
	padding: 70px 10px 35px;
	box-sizing: border-box;
	box-shadow: 0px 20px 50px rgba(158, 174, 180, 0.5);
	margin: 0 auto;
	z-index: 2;
}
@media screen and (min-width: 640px) {
	.text-box {
		max-width: 500px;
	}
}
@media screen and (min-width: 1000px) {
	.text-box {
		max-width: 600px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 55px;
	}
}
arc-text {
	position: absolute;
	width: 105px;
	height: 105px;
	font-weight: 900;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
}
arc-text span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	display: inline-block;
	transform-origin: 50% 50%;
}
.question {

}
.question .s-qu {
	position: absolute;
	top: -200px;
	left: 50%;
	width: 866px;
	height: 763px;
	transform: translateX(-50%);
}
.question .sb {
	display: inline-block;
	position: relative;
	margin-top: 30px;
	padding-left: 10px;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 1.45;
}
.question .sb:before {
	content: "*";
	position: absolute;
	top: 0;
	left: -0px;
	color: #dc3664;
	font-weight: 900;
}
.question .sb .item {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}
.question .sb .item:before {
	position: absolute;
	content: "↑";
	left: -18px;
	bottom: 0;
}
.question arc-text {
	left: 0;
	right: 0;
	margin: auto;
	top: -52px;
}
@media screen and (min-width: 640px) {
	.question .sb {
		font-size: 24px;
	}
	.question .sb:before {
		top: -8px;
		left: -5px;
		font-size: 30px;
	}
}

@media screen and (min-width: 1000px) {
	.question arc-text {
		left: auto;
		right: -52px;
		top: -52px;
	}
	.question .text-box {
		margin-bottom: 63px;
	}
	.question .sb {
		font-size: 30px;
		margin-top: 50px;
	}
	.question .sb:before {
		font-size: 36px;
		top: -8px;
		left: -9px;
	}
	.question .sb .item {
		margin-left: 30px;
	}
	.question .sb .item:before {
		left: -25px;
	}
}
p {
	line-height: 1.75;
}
.col-box {
	position: relative;
	max-width: 890px;
	margin: 0 auto;
	padding-bottom: 45px;
	padding-top: 25px;
	box-sizing: border-box;
}
.col-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0px;
	bottom: 0;
	right: 0;
	border: 1px solid #e9e9e9;
	z-index: -1;
}
.col-box:after {
	content: "";
	display: table;
	clear: both;
}
.col-box .nm {
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 24px;
	margin-bottom: 17px;
}
.col-box.col-3 .item {
	float: left;
	width: 33.3%;
}
.col-box.col-3 .item p {
	margin-right: 60px;
}
.col-box .item:before {
	content: "";
	position: absolute;
	width: 1px;
	bottom: 0;
	top: 0px;
	background: #e9e9e9;
	z-index: -1;
}
.col-box .item:nth-child(1):before {
	content: none;
}
.col-box.col-3 .item:nth-child(2):before {
	left: 33.3%;
}
.col-box.col-3 .item:nth-child(3):before {
	left: 66.6%;
}

.question .col-box {
	padding-top: 145px;
	margin-top: -125px;
	margin-bottom: 100px;
}
@media screen and (min-width: 1200px) and (min-height: 500px) {
	.question .col-box {
		margin-bottom: 300px;
	}
}
.question h2 {
	margin-bottom: 60px;
}
.question .cta {
	text-align: center;
	padding-bottom: 60px;
}
@media screen and (min-width: 1000px) {
	.question .cta {
		padding-bottom: 135px;
	}
}

.find .s-fn {
	position: absolute;
	top: 70px;
	left: calc(50% + 260px);
	width: 462px;
	height: 246px;
	transform: translateX(-50%);
}

.find .text-box {
	margin-bottom: 45px;
}
.find arc-text {
	left: 0;
	right: 0;
	margin: auto;
	top: -52px;
	transform: rotate(10deg);
}
@media screen and (min-width: 1000px) {
	.find arc-text {
		left: -52px;
		right: auto;
		top: -52px;
	}
	.find {
		margin-bottom: 400px;
	}
	.find .text-box {
		margin-bottom: 70px;
	}
}

.trees .switches-wrapper {
	margin-bottom: 200px;
}
.trees .switches {
	display: block;
	text-align: center;
}
.trees .sw {
	display: inline-block;
	box-sizing: border-box;
	max-width: 290px;
	padding: 12px 40px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.5;
	border: 1px solid transparent;
	border-radius: 40px;
	white-space: normal;
	margin: 0 15px 15px;
}
@media screen and (min-width: 640px) {
	.trees .sw {
		max-width: 290px;
		font-size: 14px;
		line-height: 1.75;
		border-radius: 49px;
	}
}
@media screen and (min-width: 1000px) {
	.trees .switches {
		text-align: center;
		white-space: nowrap;
	}
	.trees .sw {
		margin-bottom: 17px;
		padding: 15px 20px;
		width: calc(50% - 30px);
		max-width: 390px;
		font-size: 14px;
		line-height: 1.75;
	}
}
.trees .sw {
	border: 1px solid #e2ecf1;
	background: transparent;
	color: #727272;
	cursor: pointer;
	transition: all 0.4s;
}
.trees .sw.active {
	border: 1px solid transparent;
	background: #ffffff;
	color: #363636;
	box-shadow: 0px 20px 50px rgba(158, 174, 180, 0.5);
	cursor: default;
	transition: all 0.2s;
}


.trees .sw-results {
	text-align: center;
	font-size: 12px;
	display: none;
}
.trees .sw-results .r {
	vertical-align: top;
	width: 290px;
	display: inline-block;
}
.trees .sw-results p {
	line-height: 1.5;
}
.trees .sw-results .r {
	color: #9a9a9a;
	transition: color 0.2s;
}
.trees .sw-results .r.active {
	color: #363636;
}

@media screen and (min-width: 1000px) {
	.trees .sw-results {
		display: block;
	}
	.trees .sw-results .r {
		box-sizing: border-box;
		display: inline-block;
		max-width: 300px;
		width: calc(50% - 120px);
		margin: 0 60px;
	}
}

.header-note {
	position: relative;
	padding-top: 55px;
	display: inline-block;
	font-size: 21px;
	text-align: center;
}
.header-note:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	right: 0;
	width: 1px;
	height: 30px;
	margin: auto;
	background: #363636;
}

.gain {
	position: relative;
}
.gain h2 {
	margin-bottom: 90px;
}
.gain arc-text {
	left: 0;
	right: 0;
	margin: auto;
	top: -130px;
}
@media screen and (min-width: 1000px) {
	.gain arc-text {
		left: auto;
		right: 200px;
		top: -150px;
	}
}

.consult .header-note {
	padding-top: 75px;
	margin-bottom: 40px;
}
.consult .header-note:before {
	top: 32px;
}
.consult arc-text {
	left: 0;
	right: 0;
	top: -52px;
	margin: auto;
	transform: rotate(25deg);
}
@media screen and (min-width: 1000px) {
	.consult arc-text {
		right: auto;
		left: -52px;
		top: -52px;
	}
	.consult {
		margin-bottom: 400px;
	}
	.consult .text-box {
		margin-bottom: 95px;
	}
}

.consult h2 {
	margin-bottom: 35px;
}
@media screen and (min-width: 1000px) {
	.consult h2 {
		margin-bottom: 70px;
	}
}
.consult .con-mob-text {
	text-align: center;
}
.consult .con-mob-text img {
	vertical-align: middle;
	margin-right: 15px;
}
.consult h3 {
	margin-bottom: 25px;
}
.consult p {
	margin-bottom: 10px;
}
.consult .item img {
	vertical-align: middle;
	margin: 0 15px;
}
.clear {
	clear: both;
}
.col-wrap {
	max-width: 1030px;
	margin: 0 auto;
}
.col.col-3 {
	margin-left: -40px;
}
.col.col-3:after {
	content: "";
	display: table;
	clear: both;
}
.col.col-3 .item {
	float: left;
	box-sizing: border-box;
	width: 33.3%;
	padding-left: 40px;
}
.col.col-3 .item:nth-child(1) {
	width: 30%;
}
.col.col-3 .item:nth-child(2) {
	width: 40%;
}
.col.col-3 .item:nth-child(3) {
	width: 30%;
}
tri-slider {
	position: relative;
}
tri-slider .slides-data {
	clear: both;
	display: none;
	width: 33%;
}
tri-slider .slides-data p {
	margin-right: 60px;
}
tri-slider .item>*{
	transition: all 0.3s;
	transform: translateZ(0px);
}

tri-slider .item.hidden>* {
	opacity: 0;
}
tri-slider .next-arrow {
	position: absolute;
	top: 25px;
	right: 16px;
	width: 45px;
	height: 45px;
	background: url(../images/arrow-right.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	cursor: pointer;
}
.result {
	display: none;
}
.result .s-rs {
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50%);
	width: 553px;
	height: 628px;
	transform: translateX(-50%) translateY(-50%);
}
@media screen and (min-width: 1200px) {
	.result {
		display: block;
	}
}
.result .text-c {
	max-width: 550px;
}
.result h2 {
	margin-bottom: 20px;
}
.result p {
	display: none;
}
@media screen and (min-height: 780px) {
	.result p {
		display: block;
	}
}
.result .p {
	position: absolute;
	width: 300px;
	text-align: center;
}
.result .p-t {
	left: 0;
	right: 0;
	bottom: calc(50% + 90px);
	margin: auto;;
}
.result .p-l {
	top: calc(50% - 55px);
	right: calc(50% + 260px);
}
.result .p-r {
	top: calc(50% - 55px);
	left: calc(50% + 260px);
}
.result .p-b-l {
	top: calc(50% + 85px);
	right: calc(50% + 50px);
}
.result .p-b-r {
	top: calc(50% + 85px);
	left: calc(50% + 50px);
}

@media screen and (min-height: 780px) {
	.result .p-l {
		top: calc(50% - 65px);
	}
	.result .p-r {
		top: calc(50% - 65px);
	}
	.result .p-b-l {
		top: calc(50% + 145px);
	}
	.result .p-b-r {
		top: calc(50% + 145px);
	}
}
.feedback .h1-wrap {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
.feedback h1 {
	margin-bottom: 17px;
}
.feedback p {
	margin-bottom: 20px;
}
.feedback .feed-mob-text {
	margin-bottom: 55px;
}
@media screen and (min-width: 640px) {
	.feedback h1 {
		margin-bottom: 55px;
	}
}
@media screen and (min-width: 1000px) {
	.feedback p {
		font-size: 18px;
	}
}
.feedback .feed-mob-text {
	text-align: center;
	font-size: 21px;
}

.col.col-2:after {
	content: "";
	display: table;
	clear: both;
}
.col.col-2 .item {
	margin-bottom: 50px;
}

@media screen and (min-width: 640px) {
	.col.col-2 {
		margin-left: -40px;
	}
	.col.col-2 .item {
		float: left;
		box-sizing: border-box;
		width: 50%;
		padding-left: 40px;
		margin-bottom: 0;
	}
}

ul > li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 28px;
}
ul > li:last-child {
	margin-bottom: 0;
}
ul > li:before {
	content: "—";
	position: absolute;
	left: 0;
	top: 0;
}


@media screen and (min-width: 1000px) {
	.feedback .col-2 {
		margin-left: -150px;
	}
	.feedback .col-2 .item {
		padding-left: 150px;
	}
	.feedback .col-2 .item:nth-child(2) {
		padding-left: 90px;
	}
}


.feedback ul {
	margin-bottom: 20px;
}
.feedback .form-wrapper {
	padding-top: 5px;
}
@media screen and (min-width: 1000px) {
	.feedback .form-wrapper {
		padding-top: 80px;
	}
}

.form-wrapper .ln {
	margin-bottom: 30px;
}
.form-wrapper .input-wrapper {
	display: inline-block;
	color: #ababab;
}
.form-wrapper span {
	display: inline-block;
	margin-bottom: 10px;
}
.form-wrapper .i-w {
	position: relative;
	display: inline-block;
	width: 225px;
}
.form-wrapper .ws .i-w {
	width: 255px;
}
.form-wrapper .i-w:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: #c6c6c6;
	left: 0;
	bottom: 2px;
}
.form-wrapper input.tx {
	position: relative;
	display: inline-block;
	width: 100%;
	background: none;
	font-size: 14px;
	font-family: 'Geometria', sans-serif;
	color: #ababab;
}

.form-wrapper .checkbox-wrapper {
	display: block;
	position: relative;
	padding-left: 35px;
	z-index: 1;
	cursor: pointer;
	font-size: 12px;
}
.form-wrapper .checkbox-wrapper span {
	margin-bottom: 0;
}
.form-wrapper .checkbox-wrapper .i {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	top: -4px;
	margin: auto;
	border-radius: 50%;
	background: #e2e2e2;
}
.form-wrapper .checkbox-wrapper .i:before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #1f3664;
	transform: scale(0.8);
	opacity: 0;
	transition: all 0.2s;
}
.form-wrapper input[type='checkbox'] {
	display: none;
}
.form-wrapper input[type='checkbox']:checked + .checkbox-wrapper .i:before {
	opacity: 1;
	transform: scale(1);
}
.form-wrapper .btn {
	display: inline-block;
	width: auto;
	cursor: pointer;
}
.form-wrapper .submit-wrapper {
	display: block;
	text-align: center;
}
@media screen and (min-width: 640px) {
	.form-wrapper .submit-wrapper {
		display: inline-block;
		text-align: left;
	}
	.form-wrapper .checkbox-wrapper {
		font-size: 14px;
	}
}

.form-wrapper .input-wrapper,
.form-wrapper input.tx {
	color: #ababab;
	transition: color 0.2s;
}
.form-wrapper .input-wrapper.focus,
.form-wrapper .checkbox-wrapper.focus,
.form-wrapper .input-wrapper.focus input.tx {
	color: #363636;
}
.form-wrapper .input-wrapper.error,
.form-wrapper .checkbox-wrapper.error,
.form-wrapper .input-wrapper.error input.tx {
	color: #dc3664;
}

main {
	position: relative;
}
.pivot-section {
	position: relative;
}
.pivot-section .transform-wrapper {
	width: 100vh;
	height: 100vh;
	top: 0;
	left: 0;
}
curve-container {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}
curve-container bird-component {
	position: absolute;
	left: 0;
	top: 0;
	width: 39px;
	height: 45px;
	background: url(../images/bird.svg);
	transform-origin: 50% 100%;
}
curve-container {
	opacity: 0;
}
.load-complete curve-container {
	opacity: 1;
	transition: opacity 0.6s ease 0.5s;
}
@media screen and (min-width: 1200px) and (min-height: 500px) {
	curve-container {
		display: block;
	}
}
curve-container .wrapper {
	height: 100%;
}

tree-component {
	display: block;
	width: 100%;
	height: 600px;
}
tree-component .clickable {
	cursor: pointer;
}


.blog {

}
.blog .search {
	border: 1px solid #e5e5e5;
	line-height: 48px;
	border-radius: 0 25px 25px 0;
	padding-left: 29px;
	margin-bottom: 30px;
}
.blog .search-btn {
	position: absolute;
	width: 41px;
	height: 41px;
	right: 5px;
	top: 4px;
}
.blog .search-btn .i {
	position: absolute;
	top: 12px;
	left: 13px;
	width: 19px;
	height: 18px;
	background: url(../images/search.svg);
	background-repeat: no-repeat;
}
.blog .search-btn .bc .i {
	left: auto;
	right: 12px;
	transform: scaleX(-1);
}
.blog .tags .item {
	display: inline-block;
	margin-right: 15px;
	color: #336699;
	transition: color 0.2s;
}
.blog .tags .item:hover {
	color: #dc3664;
}
.blog .tp .l {
	width: 100%;
}
.blog .tp .r {
	position: relative;
	z-index: 1;
}
@media screen and (min-width: 640px) {
	.blog .tp .r {
		margin-left: -30px;
	}
	.blog .tp .r .post-preview {
		box-sizing: border-box;
		padding-left: 30px;
		width: 50%;
		float: left;
	}
}
@media screen and (min-width: 1000px) {
	.blog .tp .l {
		float: left;
		width: 65.5%;
	}
	.blog .tp .r {
		float: left;
		box-sizing: border-box;
		width: 34.5%;
		padding-left: 30px;
	}
	.blog .tp .r {
		margin-left: 0px;
	}
	.blog .tp .r .post-preview {
		padding-left: 0px;
		width: 100%;
		float: none;
	}
}
.post-preview {
	display: block;
	margin-bottom: 50px;
}
.post-preview img {
	display: block;
	width: 100%;
}
.post-preview .img {
	display: block;
	position: relative;
	margin-bottom: 24px;
	box-shadow: 0 20px 50px rgba(51, 102, 153, 0.18);
	transition: all 0.3s;
	background: #ccc;
}
.post-preview .img:hover,
.post-preview .img.hover {
	box-shadow: 0 0px 0px rgba(51, 102, 153, 0.18);
	transition: all 0.2s;
}
.post-preview .img img,
.post-preview .img img {
	opacity: 1;
	transition: all 0.3s;
	will-change: transform;
}
.post-preview .img:hover img,
.post-preview .img.hover img {
	opacity: 0.8;
	transition: all 0.2s;
}
.post-preview .img .note {
	position: absolute;
	top: 18px;
	right: -8px;
	padding: 10px 25px;
	color: #ffffff;
	background: #dc3664;
	font-size: 14px;
	font-weight: 700;
	z-index: 1;
}

.post-preview .text {
	position: relative;
	z-index: 2;
}
.post-preview .date {
	font-size: 12px;
	margin-bottom: 13px;
	font-weight: 700;
}
.post-preview .hd {
	display: block;
	font-size: 24px;
	color: #1f3664;
	font-weight: 700;
	margin-bottom: 12px;
}
.post-preview .hd:hover,
.post-preview .hd.hover {
	color: #dc3664;
}
.post-preview .text {
	padding-right: 10%;
}
.post-preview p {
	margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
	.post-preview.big .img {
		margin-bottom: 42px;
	}
	.post-preview.big .hd {
		font-size: 36px;
		margin-bottom: 6px;
	}
	.post-preview.big .img:before {
		content: "";
		position: absolute;
		width: 360px;
		height: 376px;
		background: url(../images/splats/splat-1.png);
		right: -130px;
		bottom: -70px;
		opacity: 0.2;
		pointer-events: none;
	}
	.post-preview.big .text {
		position: relative;
		padding-left: 45px;
		margin-left: 40px;
		margin-right: 35px;
	}
	.post-preview.big .text:before {
		content: "";
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		left: 0;
		top: -95px;
		bottom: 45px;
		border: 1px solid #e9e9e9;
		z-index: -1;
		pointer-events: none;
	}
}
.container.col-3 {
	margin-left: -30px;
}
.container.col-3 .item {
	box-sizing: border-box;
	width: 100%;
	padding-left: 30px;
}
.container.col-4 {
	margin-left: -30px;
}
.container.col-4 .item {
	box-sizing: border-box;
	width: 100%;
	padding-left: 30px;
}
@media screen and (min-width: 640px) {
	.container.col-3 .item {
		width: 50%;
		float: left;
	}
	.container.col-4 .item {
		width: 50%;
		float: left;
	}
}
@media screen and (min-width: 1000px) {
	.container.col-3 .item {
		width: 33.3%;
	}
	.container.col-4 .item {
		width: 25%;
	}
}

.pagination {
	text-align: center;
}
.pagination .inner {
	display: inline-block;
}
.pagination .btn {
	color: #336699;
	font-size: 13px;
	line-height: 40px;
}
.pagination .fk {
	color: #336699;
	font-weight: 500;
}
.pagination .pg,
.pagination .fk {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
}
.pagination .btn,
.pagination .fk,
.pagination .pg {
	margin: 0 3px;
}
.pagination .ar:after {
	position: relative;
	top: -1px;
	display: inline-block;
	content: "";
	width: 32px;
	height: 12px;
	margin-left: 8px;
	background: url(../images/arrow-right.svg);
	background-position: 0 100%;
	background-repeat: no-repeat;
	line-height: 40px;
	vertical-align: middle;
}

.post img {
	display: block;
	width: 100%;
}
.post {
	margin-bottom: 95px;
}

section.simple {
	margin-top: 0px;
	margin-bottom: 0px;
}
section.simple h1 {
	margin-bottom: 50px;
}

article {
	box-sizing: border-box;
	width: calc(63% - 35px);
}
article .date {
	font-size: 12px;
	margin-bottom: 13px;
	font-weight: 700;
}
article h1 {
	font-weight: 700;
	margin-top: 13px;
	margin-bottom: 10px;
}
article h2 {
	text-align: left;
	padding: 0;
	margin: 30px 0 10px;
}
article .tags {
	font-size: 12px;
	font-weight: bold;
	color: #1d54c2;
	margin-bottom: 15px;
}
article .tags a {
	margin-left: 4px;
}
article .tags a:first-child {
	margin-left: 0;
}
article a {
	color: #1d54c2;
}
article a:hover {
	color: #dc3664;
}
article p {
	margin-top: 10px;
	margin-bottom: 10px;
}
article blockquote {
	position: relative;
	margin-top: 47px;
	margin-bottom: 30px;
	margin-left: -90px;
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.7;
	z-index: 3;
	background: #ffffff;
}

.post article {
	position: relative;
	float: left;
	margin-top: 45px;
	margin-left: 35px;
	padding-left: 53px;
	padding-right: 35px;
	z-index: 2;
	padding-bottom: 40px;
}
.post article:before {
	content: "";
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #e9e9e9;
	left: 0;
	right: 0;
	top: -100px;
	bottom: 0;
}
.post aside {
	margin-top: 90px;
	float: left;
	box-sizing: border-box;
	width: calc(37%);
	padding-left: 60px;
}

aside .popular {
	margin-top: 55px;
	padding: 35px 33px;
	background: #f7f7f7;
	box-shadow: 0 7px 20px rgba(51, 102, 153, 0.15);
}
.popular h3 {
	margin-bottom: 23px;
}
.popular .btn {
	margin-right: 0px;
	margin-bottom: 4px;
}

.compare {
	position: relative;
	margin-top: 225px;
}
.compare .ln:after {
	content: "";
	display: table;
	clear: both;
}
.compare .t {
	display: inline-block;
}
.compare .r {
	float: left;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.7;
}
.compare .r:nth-child(1) {
	width: 15%;
}
.compare .r:nth-child(2) {
	width: 23%;
}
.compare .r:nth-child(3) {
	width: 32%;
}
.compare .r:nth-child(4) {
	width: 30%;
}
.compare .r:nth-child(2) .t {
	max-width: 155px;
}
.compare .r:nth-child(3) .t {
	max-width: 235px;
}
.compare .r:nth-child(4) .t {
	max-width: 235px;
}

.compare .r.lg {
	text-align: right;
	color: #999999;
	font-size: 14px;
	padding-right: 0;
}
.compare .ln .r {
	padding: 12px 20px 18px;
}
.compare .ln .r.lg {
	padding: 12px 0 18px 20px;
}
.compare .ln.lg .r {
	padding: 40px 20px 12px;
	font-size: 24px;
	line-height: 1.3;
}

.compare strong {
	color: #254b93;
	font-weight: 400;
}
.compare em {
	display: block;
	font-style: normal;
	color: #999999;
}
.compare .ln:nth-child(2n) {
	background: rgba(0, 0, 0, 0.03);
}
.compare .wrapper {
	position: relative;
	z-index: 1;
}
.compare .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.compare .bg .wrapper {
	height: 100%;
}
.compare .bg-shadow {
	position: absolute;
	width: 32%;
	height: 100%;
	left: 38%;
	background: #f7f7f7;
	box-shadow: 0 20px 50px rgba(51, 102, 153, 0.15);
}

.approach arc-text {
	left: 0;
	right: 0px;
	margin: auto;
	top: -52px;
}
@media screen and (min-width: 1000px) {
	.approach arc-text {
		left: auto;
		right: -52px;
		top: -52px;
	}
}
.approach .steps {
	margin-top: 110px;
	text-align: center;
}
.steps .num {
	display: inline-block;
	position: relative;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 48px;
	color: #efefef;
	margin-bottom: 10px;
}
.steps .num:before,
.steps .num:after {
	content: "";
	position: absolute;
	width: 115px;
	height: 2px;
	background:  #efefef;
}
.steps .num:before {
	bottom: 10px;
	right: calc(100% + 30px);
}
.steps .num:after {
	bottom: 10px;
	left: calc(100% + 30px);
}
.steps .hd {
	font-size: 30px;
	font-weight: 300;
	max-width: 400px;
	margin: 0 auto;
}
.steps .nfo {
	margin: 85px 0px 0;
}
@media screen and (min-width: 1000px) {
	.steps .nfo {
		margin: 85px 80px 0;
	}
}
.step-inner {
	box-sizing: border-box;
}
.step-inner .hd {
	position: relative;
	font-size: 24px;
	font-weight: 700;
	max-width: 250px;
	margin-bottom: 70px;
	z-index: 3;
}
.step-inner .hd:before {
	content: "";
	position: absolute;
	top: -38px;
	width: 142px;
	height: 142px;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #e8e8e8;
	background: #ffffff;
	border-radius: 50%;
	z-index: -1;
}
.step-inner.wide {
	width: 100%;
	margin-bottom: 100px;
}
@media screen and (min-width: 1000px) {
	.step-inner.wide {
		float: left;
		width: 50%;
		margin-bottom: 0;
	}
}
.step-inner.wide .hd:after {
	content: "";
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	margin: auto;
	width: 1px;
	height: 40px;
	background: #e8e8e8;
	z-index: 5;
}
.step-inner .row {
	position: relative;
	margin-bottom: 40px;
	line-height: 1.75;
}
.step-inner.wide .row:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: auto;
	background: #e8e8e8;
}
.step-inner.wide .row:after {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	margin: auto;
	width: 1px;
	height: calc(100% + 40px);
	background: #e8e8e8;
}
.step-inner.wide .row:last-child:after {
	content: none;
}
.step-inner .col {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.step-inner .row .col:nth-child(1) {
	text-align: right;
	padding-right: 15px;
}
.step-inner .row .col:nth-child(2) {
	text-align: left;
	padding-left: 15px;
}
@media screen and (min-width: 640px) {
	.step-inner.wide .row:before {
		border-radius: 0;
		width: 49px;
		height: 5px;
		background: url(../images/l-l.svg);
	}
	.step-inner .row .col:nth-child(1) {
		text-align: right;
		padding-right: 45px;
	}
	.step-inner .row .col:nth-child(2) {
		text-align: left;
		padding-left: 45px;
	}
}

.step-inner.deep {
	width: 100%;
}
@media screen and (min-width: 1000px) {
	.step-inner.deep {
		float: right;
		width: 50%;
	}
}
.step-inner.deep .row {
	max-width: 200px;
	margin: 0 auto 75px;
}
.step-inner.deep .row:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #e8e8e8;
}
.step-inner.deep .row:after {
	content: "";
	position: absolute;
	width: 1px;
	left: 0;
	right: 0;
	margin: auto;
	top: -70px;
	height: 70px;
	background: #e8e8e8;
}
.step-line {
	text-align: center;
	margin-bottom: 15px;
}
.step-line .step {
	margin-bottom: 60px;
}
.step-line:after {
	content: "";
	display: table;
	clear: both;
}
.step-line.s2 .step {
	width: 100%;
}
@media screen and (min-width: 1000px) {
	.step-line {
		text-align: center;
	}
	.step-line .step {
		margin-bottom: 0px;
	}
	.step-line.s2 .step {
		float: left;
		width: 50%;
	}
}


.slideshare {}
.slideshare iframe {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.contacts {
	margin-top: 200px;
}
.contacts h1 {
	margin-bottom: 65px;
}
.contacts .text-box {
	max-width: 1020px;
}
.contacts-form {
	max-width: 770px;
	margin: 0 auto;
	text-align: left;
	font-size: 24px;
}
.contacts-form p {
	line-height: 1.5;
	margin-bottom: 30px;
}
.contacts-form .input-wrapper {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 20px;
	margin: 0 5px;
}
.contacts-form .input-wrapper:before {
	content: "";
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border-radius: 50px;
	line-height: 40px;
	background: #f1f1f1;
	box-shadow: inset 0 1px 1px #d4d4d4, inset 0 -1px 0px #ffffff;
}
.contacts-form .input-wrapper input {
	position: relative;
	z-index: 1;
	width: 170px;
	background: none;
	font-size: 24px;
	font-family: 'Geometria', sans-serif;
	color: #363636;
}

footer {
	margin-top: 50px;
	padding-top: 125px;
	position: relative;
	z-index: 1;
	background: #f8f9f9;
}
footer arc-text {
	top: -54px;
	left: 0;
	right: 0;
	margin: auto;
}
footer .tp {
	text-align: center;
	max-width: 430px;
	margin: 0 auto 42px;
}
footer .tp .tx {
	margin-bottom: 18px;
	font-weight: 500;
}
footer .l,
footer .r {
	float: left;
	width: 50%;
	margin-bottom: 42px;
}
footer .tp .btn {
	margin-top: 0px;
}

footer .bt {
	margin: 0 auto;
	max-width: 720px;
}
footer .bt .l,
footer .bt .r {
	width: 100%;
	float: none;
}
footer nav {
	text-align: center;
}
footer nav .item {
	display: inline-block;
	margin: 0 8px;
}
footer nav .item:first-child {
	margin-left: 0;
}
footer nav .item:last-child {
	margin-right: 0;
}
@media screen and (min-width: 640px) {
	footer {
		margin-top: 230px;
	}
	footer .tp {
		margin: 0 auto 72px;
	}
}
@media screen and (min-width: 1000px) {
	footer nav {
		text-align: left;
	}
	footer .bt .l,
	footer .bt .r {
		float: left;
		width: 50%;
		margin-bottom: 42px;
	}
	footer nav .item {
		margin-left: 0;
		margin-right: 35px;
	}
}

.csstransitions .appear-fade {
	transition: all 0.5s;
	opacity: 0;
}
.csstransitions .appear-up {
	transition: all 0.9s;
	transform: translateY(20px);
	opacity: 0;
}
.csstransitions .appear-up-2 {
	transition: all 0.8s;
	transform: translateY(30px);
	opacity: 0;
}
.csstransitions .appear-fade.triggered-once,
.csstransitions .appear-up.triggered-once,
.csstransitions .appear-up-2.triggered-once {
	transform: translateY(0px);
	opacity: 1;
}


.csstransitions .appear-textbox {
	transition: all 0.8s;
	transform: translateY(10px);
	opacity: 0;
	box-shadow: 0px 5px 10px rgba(158, 174, 180, 0.5);
}
.csstransitions .appear-textbox.triggered-once {
	opacity: 1;
	transform: translateY(0px);
	box-shadow: 0px 20px 50px rgba(158, 174, 180, 0.5);
}
.csstransitions .appear-textbox arc-text {
	transform: rotate(-20deg);
	transition: transform 0.8s;
}
.csstransitions .appear-textbox.triggered-once arc-text {
	transform: rotate(0deg);
}
.csstransitions .find .appear-textbox.triggered-once arc-text {
	transform: rotate(10deg);
}
.csstransitions .consult .appear-textbox.triggered-once arc-text {
	transform: rotate(25deg);
}


.csstransitions .result .s-rs {
	opacity: 0;
	transition: all 0.9s;
}
.csstransitions .result .triggered-once .s-rs {
	opacity: 1;
}
.csstransitions .result .p-t,
.csstransitions .result .p-l,
.csstransitions .result .p-r,
.csstransitions .result .p-b-l,
.csstransitions .result .p-b-r {
	opacity: 0;
	transition: all 0.6s;
}
.csstransitions .result .p-t {
	transition-delay: 0s;
	transform: translateY(-6px);
}
.csstransitions .result .p-l {
	transition-delay: 0.15s;
	transform: translateX(-10px);
}
.csstransitions .result .p-r {
	transition-delay: 0.6s;
	transform: translateX(10px);
}
.csstransitions .result .p-b-l {
	transition-delay: 0.3s;
	transform: translateX(-6px) translateY(8px);
}
.csstransitions .result .p-b-r {
	transition-delay: 0.45s;
	transform: translateX(6px) translateY(8px);
}
.csstransitions .result .triggered-once .p-t,
.csstransitions .result .triggered-once .p-l,
.csstransitions .result .triggered-once .p-r,
.csstransitions .result .triggered-once .p-b-l,
.csstransitions .result .triggered-once .p-b-r {
	opacity: 1;
	transform: translateX(0px) translateY(0px);
}